<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <SocketStream/>
    <title>Handy Tools</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style type="text/css">
    </style>


</head>
<body>

<!-- navigation bar-->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">Handy Tools</a>
            <ul class="nav">
                <li><a href="/andaaza">Andaaza</a></li>
                <li><a href="/discovery">Discovery</a></li>
            </ul>
        </div>
    </div>
</div>

